# Filtering

In [5]:
people = {
    "Name" : ["Jafar","Surya","Vikram"],
    "No"   : [10,20,30],
    "Mail" : ["shaikmohammadhussain999@gmail.com","Surya@gmail.com","Vikram@gmail.com"]
}

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

     Name  No                               Mail
0   Jafar  10  shaikmohammadhussain999@gmail.com
1   Surya  20                    Surya@gmail.com
2  Vikram  30                   Vikram@gmail.com

# We filter the data based upon matched name

In [14]:
filt = (df['Name'] == 'Jafar')

In [18]:
df[filt] #we can see the filter data by two ways

    Name  No                               Mail
0  Jafar  10  shaikmohammadhussain999@gmail.com

In [19]:
df.loc[filt]

    Name  No                               Mail
0  Jafar  10  shaikmohammadhussain999@gmail.com

In [22]:
df.loc[filt,'Mail']

0    shaikmohammadhussain999@gmail.com
Name: Mail, dtype: object

# We See the and as '&' or as '|' we use this operation for the filtering purpose

In [30]:
filt1 = ( (df['Name'] == 'Jafar') & (df['No'] == 10 ) ) # in & operation both the condition must true

In [31]:
df.loc[filt1]

    Name  No                               Mail
0  Jafar  10  shaikmohammadhussain999@gmail.com

In [38]:
filt2 = ( (df['Name'] == 'Jafar') | (df['No'] == 20 ) ) #in | operation opposite to the & operation

In [39]:
df.loc[filt2]

    Name  No                               Mail
0  Jafar  10  shaikmohammadhussain999@gmail.com
1  Surya  20                    Surya@gmail.com